<div class="col mb-3">
  <div class="card">
    <img [src]="bookCover" class="card-img-top" height="200" alt="Couverture du livre">
    <div class="card-body">
      <h5 class="card-title"><i class="fa-solid fa-book"></i> {{ book.title }}</h5>
      <p class="card-text"><i class="fa-solid fa-user"></i> {{ book.authorName }}</p>
      <p class="card-text"><i class="fas fa-code"></i> {{ book.isbn }}</p>
      <p class="card-text"><i class="fa-regular fa-user"></i> {{ book.owner }}</p>
      <hr>
      <p class="car-text">{{ book.synopsis }}</p>
    </div>
    <div class="card-footer d-flex gap-2 justify-content-between align-items-center">
      <div class="d-flex gap-2">
        <app-rating [rating]="book.rate || 0"></app-rating>
        <span class="fw-bold" *ngIf="book.rate || 0 > 0">
        {{book.rate}}
      </span>
      </div>
      <div class="d-flex gap-3" *ngIf="!manage">
        <i (click)="onShowDetails()" class="fas fa-circle-info text-primary"></i>
        <i (click)="onBorrow()" class="fas fa-list-check text-primary"></i>
        <i (click)="onAddToWaitingList()" class="fas fa-heart text-danger"></i>
      </div>
      <div class="d-flex gap-3" *ngIf="manage">
        <i (click)="onEdit()" class="fas fa-edit text-success"></i>
        <i (click)="onShare()" class="fas fa-share-nodes text-primary"></i>
        <i (click)="onArchive()" class="fas fa-archive text-danger"></i>
      </div>
    </div>
  </div>
</div>
